body * {
  font-family:"Consolas","Microsoft Yahei", Arial, sans-serif;
}

body {
	margin: 0;
	padding: 0;
}

.container {
	max-width: 320px;
	width: 100%;
	margin: 0 auto 2% auto;
}

.container>.title {
	color: #bbb;
	font-weight: bold;
	margin-bottom: 1%;
	background: #555;
	padding: 3% 5%;
}

.date{
	font-size:140%;
	font-weight: bold;
	line-height: 170%;
	text-align: center;
}

.split, .clear {
	clear: both;
	height:1px;
	overflow-y: hidden;
}

.good, .bad {
	clear: both;
	position: relative;
}

.bad {
	/*top: -1px;*/
}

.good .title, .bad .title {
	float: left;
	max-width: 100px;
	width: 100%;
	font-weight: bold;
	text-align: center;
	font-size: 180%;
	position:absolute;
	top:0;
	bottom:0;
}

.good .title>table, .bad .title>table {
	position:absolute;
	width:100%;
	height:100%;
	border:none;
}

.good .title {
	background: #ffee44;
}

.bad .title {
	background: #ff4444;
	color: #fff;
}

.good .content, .bad .content {
	margin-left: 35%;
	padding-right: 3%;
	padding-top: 1px;
	font-size: 150%;
}

.good {
	background: #ffffaa;
}

.bad {
	background: #ffddd3;
}

.content ul {
	list-style: none;
	margin:10px 0 0;
	padding:0;
}

.content ul li {
	line-height:150%;
	font-size: 100%;
	font-weight: bold;
	color: #444;
}

.content ul li div.description {
	font-size: 60%;
	font-weight: normal;
	color: #777;
	line-height: 110%;
	margin-bottom: 3%;
}

.line-tip {
	font-size: 90%;
	margin-top: 2%;
	margin-left: 1%;
}

.direction_value {
	color:#4a4;
	font-weight: bold;
}

.comment {
	margin-top: 15%;
	font-size: 110%;
	margin-left: 2%;
}

.comment ul {
	margin-left: 0;
	padding-left: 3%;
	color: #999;
}
